{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Accueil</h1>
    {% if app.user %}
        <p>Bonjour, {{ app.user.name }}!</p>
    {% endif %}

    <ul>
        <li>Utilisateur
            <ul>
                <li><a href="/register">Ajouter</a></li>
                <li><a href="/user/list">Liste</a></li>
            </ul>
        </li>
        <li>Commission
            <ul>
                <li><a href="/commission/new">Ajouter</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
