{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <ul>
        <li>Utilisateur
            <ul>
                <li><a href="/user/new">Ajouter</a></li>
                <li><a href="/user/list">Liste</a></li>
            </ul>
        </li>
        <li>Groupes
            <ul>
                <li><a href="/commission/new">Ajouter</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
