// Définition des variables
$color-primary: #007bff;
$color-secondary: #888;
$color-border: #ddd;
$background-color-sent: #dcf8c6;
$background-color-received: #fff;

.container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;

  .conversations {
    display: flex;
    flex-direction: column;
  }

  .conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $color-border;
    text-decoration: none;
    color: #000;

    .profile-image{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .conversation-details {
      flex: 1;
    }

    .conversation-name {
      font-weight: bold;
    }

    .conversation-last-message,
    .conversation-time {
      color: $color-secondary;
    }
  }
}

.chat {
  display: flex;
  flex-direction: column;
  height: 60vh;
  border:2px solid gray ;
  border-radius: 1em;

  .messages {
    overflow-y: auto;
    margin-bottom: 1em;
    height: 90%;
    background: linear-gradient(180deg,lightgreen, white);    
    border-top-left-radius: 0.7em ;
    border-top-right-radius: 0.7em ;
  }

  .message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;

    &.sent {
      background-color: $background-color-sent;
      align-self: flex-end;
      margin-right: 1em;
      margin-top: 1em;      
    }

    &.received {
      background-color: $background-color-received;
      align-self: flex-start;
      border: 1px solid $color-border;
      margin-left: 1em;
      margin-top: 1em; 
    }
    
    &.message-right {
      align-self: flex-end;
      background-color: rgb(2, 192, 2); 
      margin-right: 1em;
      color: white;
      margin-top: 1em; 
    }

    &.message-left {
      align-self: flex-start;
      background-color: white; 
      margin-left: 1em;
      margin-top: 1em; 
    }
  }
}

.message-input {
  display: flex;
  padding: 10px;
  border-radius: 0.5em;
  background-color: transparent;

  .message-input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid $color-border;
    border-radius: 20px;
    outline: none;
    &:disabled {
      color: $color-secondary;
      cursor: default;
      pointer-events: none;
    }
  }

  .send-button {
    background-color: rgb(52, 206, 52);
    color: #fff;
    border: none;
    border-radius: 10em;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    &:disabled {
      background-color: $color-secondary;
      cursor: default;
      pointer-events: none;
    }
  }
}

