<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
{% if app.user %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/home">Alhambra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Utilisateurs
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if is_granted('ROLE_ADMINISTRATEUR') %}
                            <a class="dropdown-item" href="/user/list">Liste</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('user_detail', {'id': app.user.id}) }}">Mon Compte</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Commissions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_BENEVOLE') %}
                            <a class="dropdown-item" href="/commission/new">Nouveau</a>
                        {% endif %}
                        <a class="dropdown-item" href="/commission/list">Liste</a>
                    </div>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
        <div class="container mt-5">
            {% block body %}{% endblock %}
        </div>
        {% block extra_js %}{% endblock %}
    </body>
</html>
