{% extends 'base.html.twig' %}

{% block body %}
<div class="card col-lg-6 offset-lg-3 p-5">
    <div class="card-header">
        <h1 class="my-4">{% block title %}{% endblock %}</h1>
    </div>
    <div class="card-body">
        {% block card_content %}{% endblock %}
    </div>
</div>
{% endblock %}