{% extends 'card.html.twig' %}
{% block title %}{{ commission.name }} {{ commission.description }}{% endblock %}

{% block card_content %}
    <h2>Utilisateurs :</h2>
    <ul>
        {% for user in commission.users %}
            <li>{{ user.email }}</li> {# Assurez-vous que l'entité User a un champ ou une méthode name #}
        {% endfor %}
    </ul>
{% endblock %}