{% extends 'card.html.twig' %}
{% block title %}Liste des commission{% endblock %}
{% block card_content %}
    <ul class="list-group">
        {% for group in groups %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="me-auto">{{ group.name }} ({{ group.description }})</div>
                <div class="btn-group">
                    {% if is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_BENEVOLE') %}
                        <a href="{{ path('commission_edit', {'id': group.id}) }}" class="btn btn-outline-warning btn-sm m-2 rounded">Modifier</a>
                     {% endif %}
                    <a href="{{ path('commission_chat', {'id': group.id}) }}" class="btn btn-outline-success btn-sm m-2 rounded">Voir les messages</a>
                </div>
        </li>
        {% else %}
            <li class="list-group-item">No groups found</li>
        {% endfor %}
    </ul>

{% endblock %}

