{% extends 'base.html.twig' %}

{% block title %}Group Creation Success{% endblock %}

{% block body %}
    <h1>Group Creation Success</h1>
    <p>Your group has been successfully created.</p>
{% endblock %}