{% extends 'card.html.twig' %}

{% block title %}User Detail{% endblock %}

{% block card_content %}
    <h1>{{ user.name }}</h1>
    <p class="mb-0"><strong>Email:</strong> {{ user.email }}</p>
    <p class="mb-0"><strong>Nom:</strong> {{ user.name }}</p>

    <form id="deleteForm" action="{{ path('user_delete', {'id': user.id}) }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="button" id="deleteButton" value="Delete" class="btn btn-danger mt-3">
    </form>
    
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var deleteButton = document.getElementById('deleteButton');
            if (deleteButton) {
                deleteButton.addEventListener('click', function() {
                    if(confirm('Voulez vous vraiment suprimmer cet utilisateur ?')) {
                        document.getElementById('deleteForm').submit();
                    }
                });
            }
        });
    </script>
{% endblock %}