{% extends 'card.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block card_content %}
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item">
                <a href="{{ path('user_detail', {'id': user.id}) }}" class="text-decoration-none text-dark">
                    {{ user.name }} ({{ user.email }})
                </a>
            </li>
        {% else %}
            <li class="list-group-item">No users found</li>
        {% endfor %}
    </ul>
{% endblock %}