{% extends 'base.html.twig' %}

{% block title %}User Creation Success{% endblock %}

{% block body %}
    <h1>User Creation Success</h1>
    <p>Your user has been successfully created.</p>
    <a href="{{ path('user_index') }}">Return to user list</a>
{% endblock %}